{% extends 'baseLayer.html.twig' %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="onekey-space marg-lg-b30"></div>  
                    <div class="onekey-block no-border">
                        <div class="onekey-simple-text">
                            <h1>Как работает наш сервис.</h1>

                            В нашей стране достаточно много финансовых организаций, которые специализируются на выдаче потребительских кредитов. Данный онлайн сервис сравнения займов собрал их всех для того, чтобы каждый желающий пользователь смог всегда сравнить предоставляемые кредитными компаниями услуги и выбрать для себя более подходящий вариант. Эта услуга абсолютно бесплатная.
                            <h2>Как сравнить кредитные компании?</h2>
                            Чтобы начать анализ необходимо ввести на кредитном калькуляторе соответственные параметры в виде желаемой суммы кредита и срока на который собираетесь получить займы. Далее в полностью автоматическом режиме система самостоятельно и мгновенно подберет для Вас перечень действующих компаний с самыми выгодными условиями предоставления потребительских кредитов. При этом учитываются процентные ставки и различные бонусы, акции, скидки, программа лояльности.
                            После того, как будет определена самая подходящая кредитная компания остается только оформить заявку онлайн. Это делается легко и быстро. Введенные данные обрабатываются финансовыми экспертами аналогично. Уже на протяжении 15-20 минут Вы получите ответ, а затем деньги на карточный банковский счет.
                            Для того, чтобы иметь более детальное понятие о процессе предоставления кредитов каждой отдельной компанией, можно ознакомиться с анализом проведенным квалифицированными экспертами нашего онлайн сервиса. Данная информация в деталях по каждой отдельной финансовой компании представленная ниже.
                            Нами были проанализированные следующие кредитные компании:
                            <ul>
                                {% for shop in shops %}
                                    <li><a href="{{ path('shop', {'serviceslug': shop.slug}) }}">{{shop.company}}</a></li>
                                {% endfor %}
                            </ul>
                            <p>С нами работать всегда легко и удобно. Если у Вас возникли вопросы или пожелания, можете связаться с менеджером – <a href="mailto: {{office_mail}}">{{office_mail}}</a>.</p>                   
                        </div>
                        <div class="onekey-space marg-lg-b30"></div>
                        <p class="text-center">
                            <a class="onekey-btn" href="{{ path('index') }}">{%trans%}Select an offer{%endtrans%}</a>
                        </p>                            
                    </div>
                    <div class="onekey-space marg-lg-b30"></div>   
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="onekey-space marg-lg-b30"></div>  
                    {% include 'blocks/sidebar.html.twig'%}                         
                </div>
            </div>
            <div class="onekey-space marg-lg-b30"></div>
        </div>
{% endblock %}
        {% set title = 'Cервис сравнения займов - как это работает.' %}
        {% set meta = '<meta name="description" content="С помощью нашего онлайн сервиса сравнения займов Вы сможете всегда выбрать более подходящую кредитную компанию."><meta name="keywords" content="онлайн сервис,кредитная компания">' %}          
