        <div class="onekey-header-inner">       
            <div class="container">
                <div class="onekey-top-inner">
                    <a class="onekey-logo" href="{{ path('index') }}"><img src="/img/logo.png" height="72" width="353" alt=""></a>
                    <div class="onekey-toggle-switch"><span></span><span></span><span></span></div>
                </div>
                <div class="onekey-toggle-block">
                    <nav class="onekey-main-nav clearfix">
                        <ul>
                            <li><a href="{{ path('howto') }}">{% trans %}How it works{% endtrans %}</a></li>
                            <li>
                                <a href="{{ path('index') }}">{% trans %}Companies{% endtrans %}</a>
                                <ul>
                                    {% for shop in shops %}
                                        <li><a href="{{ path('shop', {'serviceslug': shop.slug}) }}">{{ shop.company }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <!--
                            <li><a href="{{ua}}"><img border="0" alt="ukr" width="30px" style="border:1px;border-style: solid;" src="/img/ukr.gif"></a></li>
                            <li><a href="{{ru}}"><img border="0" alt="rus" width="30px" style="border:1px;border-style: solid;" src="/img/rus.gif"></a></li>
                            -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>