                    <h4 class="onekey-title">{%trans%}leave feedback{%endtrans%}</h4>
                    <div class="onekey-space marg-lg-b30"></div>

                    <form class="onekey-reply" method="POST" action="{{ path('addcomment') }}">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="onekey-label">{%trans%}Name{%endtrans%} *</label>
                                <div class="onekey-input style-2">
                                    {{ form_widget(form.user, { 'attr': {'value': app.request.cookies.get("user")  } }) }}
                                    {#<input type="text" required="" name="user" value="{{ app.request.cookies.get('user') }}">#}
                                    <div class="onekey-input-arrow">!</div>
                                </div>
                                
                            </div>
                            <div class="col-sm-6">
                                <label class="onekey-label">Email *</label>
                                <div class="onekey-input style-2">
                                    {{ form_widget(form.mail, { 'attr': {'value': app.request.cookies.get("mail")  } }) }}
                                    {#<input type="text" required="" name="mail" value="{{ app.request.cookies.get('mail') }}">#}
                                    <div class="onekey-input-arrow">!</div>
                                </div>
                            </div>
                        </div>
                        <label class="onekey-label">{%trans%}Message text...{%endtrans%}</label>
                        {{ form_widget(form.msg, { 'attr': {'class':'onekey-area style-2', 'placeholder': 'Minimum quantity for filling 18 characters', 'cols': '5', 'rows': '5'} }) }}
                        {#<textarea class="onekey-area style-2" placeholder="{%trans%}Minimum quantity for filling 18 characters{%endtrans%}" required="" name="msg"></textarea>#}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="onekey-reply-stars">
                                    <span class="onekey-reply-stars-label">{%trans%}your mark{%endtrans%}:</span>
                                    <span class="onekey-reply-stars-entry star1">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>  
                                    {{ form_widget(form.rank, {'id':'onekey-reply-star-cnt', 'type':'hidden', 'attr': {'value': '1' } }) }}
                                    {{ form_widget(form.companyid, {'attr':{'style':'display:none'}}) }}
                                    {#<input type="hidden" name="rating" id="onekey-reply-star-cnt" value="1"> #}
                                    <input type="hidden" name="service" value="{{ shop.id }}"> 
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="onekey-reply-btn">
                                   {{ form_widget(form.submit, {'label': 'Send', 'attr': {'class': 'onekey-btn'} }) }}
                                    {#<input class="onekey-btn" type="submit" value="{%trans%}Send{%endtrans%}">#}
                                </div>
                            </div>
                        </div>
                    </form>
